[submodule "vendor/plugins/rails_basic_helpers"]
	path = vendor/plugins/rails_basic_helpers
	url = git://github.com/djanowski/rails_basic_helpers.git

[submodule "vendor/plugins/mootools-on-rails"]
	path = vendor/plugins/mootools-on-rails
	url = git://github.com/peterpunk/mootools-on-rails.git

[submodule "vendor/plugins/resource_controller"]
	path = vendor/plugins/resource_controller
	url = git://github.com/giraffesoft/resource_controller.git

[submodule "vendor/plugins/restful-authentication"]
	path = vendor/plugins/restful-authentication
	url = git://github.com/technoweenie/restful-authentication.git

