<h1>Listing invoices</h1>

<%= table_for(:invoices, ["id",Proc.new{|x| x.customer.name},Proc.new{|x| sprintf("%2d",x.total)}],:headers=>true) %>

<br />

<%= link_to 'New invoice', new_invoice_path %>
